@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
*{
     font-family: "Orbitron", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;

     margin: 0;
     padding: 0;
}
html{
     scroll-behavior: smooth;
     background-color: #00023b;
}

header{
     height: 100px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-image: linear-gradient(to right,#d32bf9,  #023d8f);
}

section{
     height: fit-content;
}

.header-logo{
     margin-left: 20px;
     display: flex;
     align-items: center;
}
.header-logo h1{
     font-size: 42px;
     color: rgb(255, 255, 255);
     font-weight: 700;
}

.header-logo img{
     height: 140px;
}

.header-nav{
     display: flex;
     justify-content: space-around;
     margin-right: 5%;
     width: 45%;
}
.header-nav li{
     list-style-type: none;
     width: fit-content;
}
.header-nav li a{
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-weight: 800;
}
.header-nav li a:hover{
     text-shadow: 0px 0px 2px white;
}
.header-nav li i{
     font-size: 25px;
     color: rgb(255, 255, 255);
     cursor: pointer;
     
     display: flex;
     justify-content: end;
}

.header-nav li i i{
     font-size: 13px;
     position: absolute;
     top: 28px;
}

.fa-user .fa-circle-check{
     color: #04933b;
}
.fa-user .fa-circle-xmark{
     color: #ff0000;
}

.header-nav li i:hover{
     text-shadow: 0px 0px 2px white;
}

.main{
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.main img{
     position: absolute;
     height: 100%;
     width: 100%;
     object-fit: cover;
     z-index: -5;
}

.main-content{
     margin:auto;
     display: flex;
     flex-direction: column;
}

.main-content h3{
     color: white;
     font-size: 2vh;
     line-height: 1.4;
     max-width:  70%;
}

.main-content h1{
     font-size: 10vh;
     color: white;
     font-weight: 800;
     margin:auto;
}

.main-content button{
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 15%;
     margin-left: -15%;
     padding: 10px 40px;
     border-radius: 20px;
     border: none;
     background-color: #8a0097;
     width: fit-content;
     cursor: pointer;
     transition: all 0.2s;
     font-size: 100%;
     height: fit-content;
     width: fit-content;
}
.main-content button:hover{
     box-shadow: 0px 0px 10px #e100ff;
}
.main-content i{
     width: 5px;
     font-size: 180% !important;
     line-height: 4px;
     color: white;
     margin-left: 15px;
     position: relative;
     left: 5%;
}

.info-container{
     height: 800px;
     display: flex;
     gap: 80px;
     flex-direction: column;
     align-items: center;
     margin-top: 100px;
     padding: 20px;
}
.info-container h1{
     color: white;
     font-size: 50px;
}
.info-container h3{
     color: white;
     font-size: 30px;
     margin-top: auto;
}

.info-container p{
     width: 100%;
     font-size: 20px;
     color: #0cc0df;
     letter-spacing: 1px;
     text-align: center;
}

.info-consoles{
     display: flex;
     width: 100%;
     justify-content: space-around;
}
.info-consoles h1{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
}

.info-consoles h1 i{
     color: rgb(3, 216, 56)
}


.info-card{
     height: 250px;
     min-width: 700px;
     max-width: 800px;
     display: flex;
     background-color:#023d8f;
     align-items: center;
     justify-content: center;
}
.info-card img{
     height: 100%;
     width: 300px;
     object-fit: cover;
}
.info-card p{
     align-self: center;
     justify-self: center;
     padding: 0 10px;
     font-size: 18px;
     text-align: justify;
     padding: 20px;
     line-height: 25px;
}
#games{
     display: flex;
}

h1{
     text-align: center;
     color: white;
     font-size: 50px;
     margin: 30px;
}
.games-container{
     margin-top: 40px;
     height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     border-top: 5px solid #00d9ff;
     padding: 20px;
}

.games-searchbar{
     width: 30%;
     height: 25px;
     background: none;
     border: 1px solid #ffffff;
     align-self: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap:  5%;
     padding: 10px 40px;
     margin-top: 30px;
     border-radius: 50px;
}

.games-searchbar button{
     font-size: 20px;
     background:none;
     border: none;
     cursor: pointer;
     color: white;
}
.games-searchbar input{
     font-size: 15px;
     background:none;
     border: none;
     cursor:text;
     color: white;
     padding: 5px 10px;
     width: 70%;
     letter-spacing: 2px;
     transition: all 0.4s;
}
.games-searchbar input:focus{
     outline: none;
}
.games-searchbar input::placeholder{
     color: #14a4bd;
     text-shadow: 0px 0px 2px #00d9ff;
}


.games-panel{
     height: 100%;
     width: 75%;
     align-self: center;
     padding: 40px;
     margin-top: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     gap: 35px;

     border-bottom: 1px solid #00d9ff;

     overflow: auto;
     scrollbar-color:  #00d9ff transparent; /* Firefox */
     -ms-overflow-style: -ms-autohiding-scrollbar;/* IE y Edge */
     scrollbar-width: thin; /* Chrome/Safari/Opera */
}

.gamecard {
     width: 150px;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: rgb(255, 255, 255);
     margin: 20px;
     transition: all 0.7s;
}
   
.gamecard:hover {
     filter: contrast(60%);
     cursor: pointer;
     transform: scale(1.1);
}
   
.gamecard-img-container {
     height: 190px; 
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
   
.gamecard img {
     height: 100%; 
     width: 100%; 
     object-fit: cover; 
}
   
.gamecard hr {
     width: 90%;
     align-self: center;
     margin: 1px;
}
   
.gamecard h3 {
     width: 90%;
     color: rgb(0, 0, 0);
     text-align: left;
     margin: 5px 10px 0px 10px;
     font-size: 15px;
     font-weight: 700;
}
   
.gamecard-price {
     color: rgb(0, 0, 0);
     text-align: right;
     padding: 15px 15px;
}
   
.gamecard-price span {
     position: relative;
     color: #04933b;
     font-size: 15px;
     font-weight: 900;
     top: -50%;
}
   
.gamecard-platforms {
     color: rgb(0, 0, 0);
     font-weight: 600;
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
     overflow: auto;
     height: 50px;
     scrollbar-color:  lightgrey transparent; 
}
   
.gamecard-platforms b {
     padding: 2px;
     height: fit-content;
     margin: 3px;
     width: fit-content;
     font-size: 10px;
     border-radius: 4px;
}
   


.available{
     background-color: greenyellow;
     border: 1px solid black;
}
   
.notavailable{
     color: white;
     background-color: #ff0000;
     border: 1px solid black;
}
   
.games-filters{
     position:relative;
     width: 25%;
     height: 100vh;
     background-color: #00d9ff8d;
     padding: 30px;
     padding-top: 60px;
     top: 40px;
}
.games-filters h3{
     font-weight: 700;
     font-size: 23px;
     color: #ffffff;
}

.games-filters-gender{
     display: flex;
     flex-direction: column;
     padding-top: 20px;
     padding-bottom: 20px;
     gap: 5px;
     color: white;
}
.games-filters-gender p input{
     margin-right: 7px;
     border: 1px solid black;
}
.games-filters-gender h3{
     margin-bottom: 5px;
}

.games-filters-price{
     padding-top: 20px;
     padding-bottom: 20px;
     color: white;
}
.games-filters-price input{
     margin-top: 10px;
     padding: 2px 5px;
     width: 20%;
}

.games-filters-consoles{
     display: flex;
     flex-direction: column;
     padding-top: 20px;
     padding-bottom: 20px;
     gap: 5px;
     color:white;
}
.games-filters-consoles p input{
     margin-right: 7px;
}




.shopcart{
     position: fixed;
     width: 500px;
     height: fit-content;
     top: 15.5%;
     right: 5%;
     background-image: linear-gradient(to bottom,#4b00cc , #7f0095);
     padding: 30px;
     box-shadow: 0 0 15px black;
     animation: appear  .8s ease-out forwards;
}

.close-shopcart{
     float: right;
     cursor: pointer;
     color: rgb(255, 255, 255);
     font-size: 25px;
     transition: all .3s ease-in-out;
     background: none;
     border: none;
     padding: 2px 5px;
}
.close-shopcart:hover{
     transform: rotate(180deg);
}
     


@keyframes appear {
     0% {right: -700px}
     100% {}
}
@keyframes desappear {
     0% {}
     100% {right: -700px;}
}


.shopcart h1{
     line-height: 20px;
     font-size:30px;
     margin-top: 0;
}
.shopcart h2{
     line-height: 20px;
     font-size: 25px;
     margin-top: 15px;
     margin-bottom: 20px;
     color: white;
}
.shopcart span{
     color: #00c14a;
     margin-left: 20px;
}
.shopcart h3{
     color: #ffffff;
     
}
.checkout{
     position: absolute;
     top: 90%;
     left: 40%;
     right: 50%;
     width: fit-content;
     border: none;
     outline: none;
     cursor: pointer;
     display: inline-block;
     text-align: center;
     transition: all .5s ease;
     padding: 5px 25px;
     font-size: 15px;
     background-color: white;
}
.checkout:hover{
     transform: scale(1.05);
     box-shadow: 0 0 10px  rgb(0, 0, 0);
}

.shopcart-games{
     padding: 15px;
     border-bottom: 1px  dashed white;
     overflow: auto;
     min-height: 200px;
     max-height: 300px;
}
.shopcart-gamecard{
     margin-top: 10px;
     display: flex;
     height: 100px;
     min-width: 300px;
     background-color: #2e0092;
     display: flex;
}
.shopcart-gamecard div{
     color: white;
     padding: 20px;
     font-weight: 600;
}
.shopcart-gamecard div h3{
     line-height: 20px;
     font-size: 15px;
}
.shopcart-gamecard div span{
     color: #04933b;
     position: relative;
     right: -180px;
}
.shopcart-gamecard img{
     height: 100px;
     width: 100px;
     object-fit: cover;
}

.shopcart-gamecard button{
     border: none;
     outline: none;
     cursor: pointer;
     background-image: linear-gradient(to right,#7901019d , #ec0066);
     color: white;
     transition: .5s ease;
     font-size: 1em;
     padding: 10px 20px;
     margin-left: auto;
     box-shadow: 0 0 10px rgba(0,0,0,.5);
     text-align: center;
     height: 50px;
}
.shopcart-gamecard button:hover{
     transform: scale(1.07);
     outline: none;
     border: none;
}









.appear{
     animation: appear  .5s ease-out forwards;
}
.desappear{
     animation: desappear  .5s ease-out forwards;
}


.noresults{
     color: white;
}

.hidden{
     display: none;
}
.warning{
     color: white;
     margin-left: 20px;
}